<aside class='chat-sidebar'>
  <header class='chat-sidebar__header'>
    <span class='chat-sidebar__profile-link'>Perfil &rsaquo;</span>
  </header>
  <div data-child='searchInput'></div>
  <div data-child='chatList'></div>
</aside>