/* stylelint-disable selector-class-pattern */
.search-input {
  position: relative;
  padding: 0 10px 14px;
}

.search-input::before {
  content: '';
  position: absolute;
  top: 9px;
  left: calc(50% - 52px);
  width: 15px;
  height: 15px;
  background: url('/Search.svg') no-repeat center / contain;
}

.search-input__field {
  width: 100%;
  height: 32px;
  border: 0;
  border-radius: 5px;
  background: #efefef;
  text-align: center;
  color: #999;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  outline: none;
}

@media (width <= 767px) {
  .search-input {
    padding-bottom: 10px;
  }
}
