/* stylelint-disable selector-class-pattern */
@import '../pages/LoginPage/LoginPage.css';
@import '../pages/RegisterPage/RegisterPage.css';
@import '../pages/ChatPage/ChatPage.css';
@import '../pages/ProfilePage/ProfilePage.css';
@import '../components/LoginForm/LoginForm.css';
@import '../components/RegisterForm/RegisterForm.css';
@import '../components/ChatSidebar/ChatSidebar.css';
@import '../components/SearchInput/SearchInput.css';
@import '../components/ChatList/ChatList.css';
@import '../components/ChatItem/ChatItem.css';
@import '../components/ChatWindow/ChatWindow.css';
@import '../components/ChatHeader/ChatHeader.css';
@import '../components/MessageList/MessageList.css';
@import '../components/MessageItem/MessageItem.css';
@import '../components/MessageInput/MessageInput.css';
@import '../components/ProfileCard/ProfileCard.css';
@import '../components/ProfileAvatar/ProfileAvatar.css';
@import '../components/ProfileFields/ProfileFields.css';
@import '../components/ErrorCard/ErrorCard.css';
@import '../components/AvatarModal/AvatarModal.css';
@import '../pages/ErrorPages/ErrorPage.css';
@import '../pages/ErrorPages/NotFoundPage/NotFoundPage.css';
@import '../pages/ErrorPages/ServerErrorPage/ServerErrorPage.css';
@import 'https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap';

:root {
  --color-bg: #efefef;
  --color-panel: #fff;
  --color-panel-muted: #fbfbfb;
  --color-text: #1e1e1e;
  --color-muted: #999;
  --color-line: #eaeaea;
  --color-primary: #3369f3;
  --font-family-base:
    'Inter', 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', sans-serif;

  color: var(--color-text);
  background-color: var(--color-bg);
  font-family: var(--font-family-base);
}

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  min-height: 100vh;
}

body {
  color: var(--color-text);
  background: var(--color-bg);
  font-family: var(--font-family-base);
  font-size: 13px;
  font-weight: 500;
  line-height: 1.2;
  text-rendering: geometricprecision;
  -webkit-font-smoothing: antialiased;
}

#app {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#app > div {
  width: 100%;
  min-height: 100vh;
}
